@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #1F1F24;
  }
  
  body {
    background-color: #070709;
    color: #E0E0E6;
    font-family: 'Inter', sans-serif;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #52525F;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #E0E0E6;
  }
}

@layer utilities {
  .bg-grid {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, #121216 1px, transparent 1px),
      linear-gradient(to bottom, #121216 1px, transparent 1px);
  }

  @keyframes scan {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
  
  .animate-scan {
    animation: scan 2s linear infinite;
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .cursor-blink {
    animation: blink 1s step-end infinite;
  }
}
